@import "init";

.overlay-menu {
  transform: translateY(-100vh);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 110;
  transition: 0.8s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;

  &.active {
    transform: translateY(0);
  }

  & > .container {
    padding-top: 10rem;
  }
}

/* Custom */
.overlay-menu {
  a {
    color: #fff;
    transition: 0.3s;

    &:hover, &:focus {
      color: $primary;
      text-decoration: none;
    }
  }

  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
  }
}
