@import "../bootstrap/buttons";

.btn {
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;

  span + i {
    margin-left: 5px;
  }

  i ~ span {
    margin-left: 5px;
  }

  .icon {
    display: flex;
    height: 100%;
    svg {
      height: 100%;
      margin-right: 0.5rem;
    }
  }
}

.btn-outline-light:hover {
  color: #333;
}

.btn-group > a {
  margin-right: 0;
}

.btn-outline-white {
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #fff;
    color: #666;
  }
}

.btn-primary {
  svg {
    fill: var(--bs-btn-color);
  }
}
