@import "../bootstrap/dropdown";

.dropdown-toggle-submenu:after {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  margin-right: -0.8rem;
  width: 0;
  margin-top: 0.6rem;
  content: ' ';
  float: right;
}

.dropdown-align-right {
  right: 0;
  left: auto;
}

.dropdown-search {
  padding: 0;
  top: auto;
  width: 14rem;
  border: 0;
  box-shadow: 0 0 3px #bbb;
}
