
.searchbar-toggler {
  align-self: flex-start; // Prevent toggler from growing to full width when it's the only visible navbar child
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background: transparent; // remove default button style

  &:hover, &:focus {
    text-decoration: none;
  }
}

.searchbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

#searchbar-wrapper-desktop {
  .dropdown-toggle {
    &:before {
      display: none;
    }

    &:hover, &:focus, &:active, &.show {
      background-color: transparent;
    }
  }

  .dropdown-menu {
    width: 16rem;
    margin-right: -3rem;
    transform: translateY(1px);

    form .input-group {
      display: flex;

      input{
        max-width: 13.25rem;
      }

      .btn-search {
        transform: translateY(-1px);
      }
    }
  }
}

#bd-search-nav {
  form .input-group {
    display: flex;

    .btn-search {
      padding: 0;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
