<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Page"/>


    <f:section name="Resources">

    </f:section>

    <f:section name="HeaderContent">
    </f:section>


    <f:section name="Content">

        <v:content.render column="5"/>

        <div class="">
            <!--TYPO3SEARCH_begin-->
            <v:content.render column="0"/>
            <!--TYPO3SEARCH_end-->
        </div>

    </f:section>

</div>
