{namespace is=TYPO3\CMS\IndexedSearch\ViewHelpers}
{namespace ws=WapplerSystems\WsT3bootstrap\ViewHelpers}

<f:alias map="{sword: searchParams.sword}">
    <f:render partial="Form" arguments="{_all}"/>
</f:alias>

<f:for each="{resultsets}" as="result">
    <f:if condition="{result.categoryTitle}">
        <h1 class="tx-indexedsearch-category">{result.categoryTitle}</h1>
    </f:if>

    <!-- show the info what was searched for -->
    <p>
        <f:for each="{searchWords}" as="searchWord" key="key">
            <f:if condition="{key} > 0">
                <f:then>
                    <f:translate key="searchFor.{searchWord.oper}"/>&nbsp;"{searchWord.sword}"
                </f:then>
                <f:else>
                    <f:translate key="searchFor"/>&nbsp;"{searchWord.sword}"
                </f:else>
            </f:if>
        </f:for>
    </p>

    <!-- show the info in which section was searched for -->
    {result.searchedInSectionInfo}
    <f:if condition="{result.count} > 0">
        <f:then>
            <div class="">

                <p><is:pageBrowsingResults numberOfResults="{result.count}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}"/></p>

                <p>{result.sectionText}</p>

                <!-- render the anchor-links to the sections inside the displayed result rows -->
                <f:if condition="{result.affectedSections}">
                    <div class="tx-indexedsearch-sectionlinks">
                        <table cellpadding="0" cellspacing="0" border="0" summary="Result links">
                            <f:for each="{result.affectedSections}" as="sectionData" key="sectionId">
                                <tr>
                                    <td width="100%">--&gt;&nbsp;
                                        <a href="#anchor_{sectionId}">
                                            <f:if condition="{sectionData.0}">
                                                <f:then>{sectionData.0}</f:then>
                                                <f:else>
                                                    <f:translate key="unnamedSection"/>
                                                </f:else>
                                            </f:if>
                                            &nbsp;({sectionData.1}&nbsp;<f:translate key="{f:if(condition: '{sectionData.1} > 1', then: 'word_pages', else: 'word_pages')}"/>
                                            )
                                        </a>
                                    </td>
                                </tr>
                            </f:for>
                        </table>
                    </div>
                </f:if>


            </div>

            <nav aria-label="{f:translate(key: 'LLL:EXT:tft/Resources/Private/Language/locallang.xlf:aria.nav_pagination')}">
                <ws:indexedSearch.pageBrowsing class="pagination justify-content-center" maximumNumberOfResultPages="{settings.page_links}" numberOfResults="{result.count}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}"/>
            </nav>

            <f:for each="{result.rows}" as="row">
                <f:if condition="{row.isSectionHeader}">
                    <f:then>
                        <div id="anchor_{row.sectionId}" class="tx-indexedsearch-sectionhead">
                            <h2 class="tx-indexedsearch-title">
                                <f:format.html>{row.sectionTitle}</f:format.html>
                                <span class="tx-indexedsearch-result-count">{row.numResultRows} <f:translate key="{f:if(condition: '{row.numResultRows} > 1', then: 'result.pages', else: 'result.page')}"/></span></h2>
                        </div>
                    </f:then>
                    <f:else>
                        <f:render partial="Searchresult" arguments="{row: row}"/>
                    </f:else>
                </f:if>
            </f:for>

            <nav aria-label="{f:translate(key: 'LLL:EXT:tft/Resources/Private/Language/locallang.xlf:aria.nav_pagination')}">
                <ws:indexedSearch.pageBrowsing class="pagination justify-content-center" numberOfResults="{result.count}" maximumNumberOfResultPages="{settings.page_links}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}"/>
            </nav>

        </f:then>
        <f:else>
            <f:translate key="result.noResult"/>
        </f:else>
    </f:if>
</f:for>
