<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Default">
	<div id="meta">
	   <div class="container">
	     <div>						
		<div id="email">
		</div>
		<div id="phone">
		</div>
              </div>
	      <div class="socials">
	      </div>			
	   </div>
	</div>    	
    <header id="header" class="sticky-top">
	

        <div class="{settings.header.topNavigationWrapperClass}{f:if(condition:settings.header.overlayMenuSection,then:' overlay-menu-section')}" id="nav-primary">

            <f:render partial="Navigation/Meta" section="Default" arguments="{_all}"/>

            <f:render partial="Navigation" section="Default" arguments="{_all}"/>

        </div>
        <f:if condition="{settings.menu.main.menuType} == 'overlay-menu'">
            <f:render partial="Navigation/OverlayMenu" section="Default" arguments="{_all}"/>
        </f:if>
    </header>


</f:section>

</html>
