<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Default">


    <f:link.page class="visually-hidden visually-hidden-focusable" section="nav-primary">
        <f:translate key="LLL:EXT:tft/Resources/Private/Language/locallang.xlf:jump_to_main_navigation"/>
    </f:link.page>
    <f:link.page class="visually-hidden visually-hidden-focusable" section="content">
        <f:translate key="LLL:EXT:tft/Resources/Private/Language/locallang.xlf:jump_to_content"/>
    </f:link.page>


</f:section>

</html>
