<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:ws="http://typo3.org/ns/WapplerSystems/WsT3bootstrap/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Default">

    <f:spaceless>
        <v:menu entryLevel="{settings.menu.sub.entryLevel}" classCurrent="current high-ct-inverted" classActive="active high-ct-inverted" showAccessProtected="{settings.menu.showAccessProtectedPages}" expandAll="false"
                useShortcutUid="false">
            <f:if condition="{menu}">
                <nav class="mb-5 d-none d-lg-block nav-sidebar" aria-label="{f:translate(key: 'LLL:EXT:tft/Resources/Private/Language/locallang.xlf:sub_navigation')}" id="sub-nav">
                    <ul class="nav flex-column nav-pills nav-stacked">
                        <f:for each="{menu}" as="menuPage" iteration="iteration">

                            <f:render section="NavItem" arguments="{menuPage:menuPage, settings:settings}"/>

                        </f:for>
                    </ul>
                </nav>
            </f:if>
        </v:menu>
    </f:spaceless>

</f:section>


<f:section name="NavItem">

    <f:switch expression="{menuPage.doktype}">
        <f:case value="199">
            <li class="disabled">
                <i class="fa fa-chevron-right"></i>
                <f:if condition="{iteration.isFirst}" else="&nbsp;&nbsp;"/>
                <span class="navbar-text">{menuPage.title}:</span>
            </li>
        </f:case>
        <f:defaultCase>
            <li class="nav-item nav-item-{menuPage.uid}">

                <ws:menu.link class="nav-link nav-link-{menuPage.uid} {menuPage.class}" href="{menuPage.link}" target="{menuPage.target}">
                    {f:if(condition: menuPage.nav_title, then: menuPage.nav_title, else: menuPage.title)}
                </ws:menu.link>

                <f:if condition="{menuPage.active} && !{menuPage.nav_hide_subtree}">

                    <v:menu pageUid="{menuPage.uid}" classCurrent="current high-ct-inverted" classActive="active high-ct-inverted" showAccessProtected="{settings.menu.showAccessProtectedPages}" includeSpacers="false" expandAll="false">
                        <f:if condition="{menu}">
                            <ul class="nav flex-column ps-3">

                                <f:for each="{menu}" as="subMenuPage" iteration="subIteration">

                                    <f:render section="NavItem" arguments="{menuPage:subMenuPage, settings:settings}"/>


                                </f:for>
                            </ul>
                        </f:if>
                    </v:menu>
                </f:if>
            </li>
        </f:defaultCase>
    </f:switch>

</f:section>

</html>
