

ul.tx-indexedsearch-browsebox {
  @extend .pagination;

  li {
    @extend .page-item;

    &:first-child {
      a {
        margin-left: 0;
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }
    }
    &:last-child {
      a {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    a {
      @extend .page-link;
    }
  }
}
