
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .o#{$infix}-1        { order: 1 !important; }
    .o#{$infix}-2        { order: 2 !important; }
    .o#{$infix}-3        { order: 3 !important; }
    .o#{$infix}-4        { order: 4 !important; }
    .o#{$infix}-5        { order: 5 !important; }
    .o#{$infix}-6        { order: 6 !important; }
    .o#{$infix}-7        { order: 7 !important; }
    .o#{$infix}-8        { order: 8 !important; }
    .o#{$infix}-9        { order: 9 !important; }
    .o#{$infix}-10       { order: 10 !important; }

  }
}
