<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:wsscss="http://typo3.org/ns/WapplerSystems/WsScss/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">

    <wsscss:asset.scss identifier="uploads" href="EXT:tft/Resources/Private/SCSS/components/uploads.scss"/>

    <f:if condition="{files}">
        <f:then>
            <div class="ce-uploads list-group">
                <f:for each="{files}" as="file" iteration="fileIterator">
                    <a class="list-group-item d-flex justify-content-between align-items-start" href="{file.publicUrl}" {f:if(condition:data.target,then:' target="{data.target}"')}>

                        <f:if condition="{data.uploads_type} == 1">
                            <i class="{settings.template.icons.uploads.prefix}{file.extension} ce-uploads-fileicon ce-uploads-file-{file.extension}"></i>
                        </f:if>

                        <f:if condition="{data.uploads_type} == 2">
                            <f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
                                <f:then>

                                    <f:media file="{file}" class="img-fluid" width="150" alt="{file.properties.alternative}"/>

                                </f:then>
                                <f:else>
                                    <img src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
                                </f:else>
                            </f:if>
                        </f:if>

                        <div class="ms-2 me-auto">
                            <f:if condition="{file.name}">
                                <span class="d-block fw-bold ce-uploads-fileName">
                                    {f:if(condition:file.properties.title,then:file.properties.title,else:file.name)}
                                </span>
                            </f:if>

                            <f:if condition="{file.properties.description}">
                                <f:if condition="{data.uploads_description}">
                                    <span class="d-block ce-uploads-description">
                                        {file.properties.description}
                                    </span>
                                </f:if>
                            </f:if>

                        </div>

                        <f:if condition="{data.filelink_size}">
                            <span class="ce-uploads-filesize ml-auto badge bg-primary rounded-pill">
                                <f:format.bytes value="{file.properties.size}"/>
                            </span>
                        </f:if>


                    </a>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <f:comment>Leerzeichen integrieren, da bei leerer Liste der HTML Tag falsch geschlossen wird.</f:comment>
            <span>&nbsp;</span>
        </f:else>
    </f:if>

</f:section>

</html>

